/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 nov. 2014, 11:43:33
    Author     : Camille
*/
body{
    background-image: url("../img/back2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    //background-color : red;
}
footer{
   //position:fixed;
    bottom:0;
    left:0;
    height:60px;
    background: black;
    width : 100%;
    color: white;
    text-align : center;
    font-size:10px;
}
h2{
    margin :0px;
}

div{
   color:white;
}
table{
    color : white;
}
display#ex{
    height : 100px;
}

div#namePerso{
    background : rgba(0,0,0,0);
    padding : 15px;
    text-align : center;
}
div#myInfos {
    background : rgba(0,0,0,0);
    padding : 15px;
    margin-top : 10px;
    text-align : left;
}
div#avatar{
    background : rgba(0,0,0,0);
    padding : 15px;
    margin-top : 10px;
    text-align : center;
}
div#arenaPan{
    background : rgba(30,30,30,0.5);
    padding : 15px;
    margin-bottom: 10px;
    text-align : center;
}

div#diaryPan{
    background : rgba(30,30,30,0.5);
    padding : 15px;
    margin-bottom: 10px;
    text-align : left;
    color :white;
}

div#actionPan{
    background : rgba(0,0,0,0);
    padding : 15px;
    margin-bottom: 10px;
    text-align : center;
}
div#evolv {
    background : rgba(0,0,0,0);
    margin-top : 10px;
    text-align : center;
    margin-bottom : 10px;
}
div#xpAlert {
    background : rgba(0,0,0,0);
    padding : 15px;
    margin-top : 10px;
    margin-bottom : 10px;
    text-align : center;
}
div#content {
    margin: auto;
    background-color: rgba(0,0,0,0);
}

table#arena {
    margin : auto;
    position : center;
}
#ex{
    margin : auto;
    position : center;
}

table#pad td {
    width : 30px;
    height : 30px;
}

button#case {
    padding : 0px;
}

img#imagecase {
    padding : 0px;
}

table#arena tr{
    margin-top : 0px;
    margin-bottom : 0px;
}

div#infoPerso{
    background-color: rgba(0,0,0,0);
    color : white;
}


div#direction {
    float : right;
    width : 35%;
}

div#rightPan{
    background : rgba(30,30,30,0.5);
    text-align : center;
}
div#listePersoPan{
    background : rgba(30,30,30,0.5);
    padding : 15px;
    text-align : left;
}
div#leftPan{
    background-color: rgba(0,0,0,0);
}
div#xpAlert{
    margin : 0px;
    padding : auto;
}

div#zoneBtnAddFighter{
    margin-top : 10px;
    margin-bottom : 10px;
}